<div class="container">
<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>
	</div>

	<div class="col-xs-9">
		<h2>Books</h2>
		<!--books一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @books.each do |book| %>
				<tr>
					<td>
						<%= link_to user_path(book.user) do %>
							<%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
						<% end %>
					</td>
					<td><%= link_to book.title, book_path(book.user), class: "book_#{book.id}" %></td>
					<td><%= book.body %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<!--books一覧 -->
	</div>
</div>
<!-- map表示 -->
<div class = "row">
	<div class = "col-xs-12">
		<h2>Your MAP</h2>
		<div id='map'></div>
		<style>
			#map {
				height: 400px;
				width: 100%;
			}
		</style>

		<script>
			let map
			function initMap(){
				geocoder = new google.maps.Geocoder()
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 40.7828, lng:-73.9653},zoom: 12,
				});

				marker = new google.maps.Marker({
					position:  {lat: 40.7828, lng:-73.9653},
					map: map
				});
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_FoMr8lk7jSC6USoa4qgnwCXA6Fr8ecA&callback=initMap" async defer></script>
	    </div>
	</div>
</div>
